low and low and null then constant and constant
low and low and controlled then constant and constant
low and low and high then increase and increase
low and medium and null then constant and decrease
low and medium and controlled then increase and constant
low and medium and high then increase and constant
low and high and null then constant and decrease
low and high and controlled then increase and decrease
low and high and high then increase and decrease
medium and low and null then constant and constant
medium and low and controlled then constant and constant
medium and low and high then increase and increase
medium and medium and null then decrease and decrease
medium and medium and controlled then constant and constant
medium and medium and high then increase and decrease
medium and high and null then constant and decrease
medium and high and controlled then increase and decrease
medium and high and high then increase and decrease
high and low and null then decrease and increase
high and low and controlled then decrease and constant
high and low and high then constant and increase
high and medium and null then decrease and constant
high and medium and controlled then constant and constant
high and medium and high then constant and constant
high and high and null then decrease and decrease
high and high and controlled then decrease and decrease
high and high and high then constant and decrease
